// colors
$colors: (
    "primary": #db9e3f,
    "info": #4b67af,
    "danger": #791a15,
    "blue-1": #1f3695,
    "blue": #4394e4,
    "white": #fff,
    "white-1": #fcfcfc,
    "white-2": #eceef0,
    "light": #f9f9f9,
    "light-1": #d4d9de,
    "grey": #999,
    "grey-1": #666,
    "dark-1": #343440,
    "dark": #222,
    "black": #000,
);
// border-color
$border-color: map-get($colors, "light-1");

// font-size
$base-font-size: 1rem;
$font-sizes: (
    // 8px
        xxs: 0.6154,
    // 10px
        xs: 0.7692,
    // 12px
        sm: 0.9231,
    // 13px
        md: 1,
    // 14px
        lg: 1.0769,
    // 16px
        xl: 1.2308,
    // 18px
        xxl: 1.3846,
);

// justify-content
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
);

// align-items
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline,
);

// .mt-1 means margin-top level 1
// .pb-3 means padding-bottom level 3
$spacing-types: (
    m: margin,
    p: padding,
);

$directions: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);

$spacing-levels: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 2,
);

$spacing-base: 1rem;

$border-color: #ebedf0;